:root {
  --primary-color: rgb(59, 42, 159);
  --primary-color100: #5141AA;
  --seconbdary-color:rgb(250,131,5);
  --black-color:#070707;
}

header a:active{ text-decoration:underline var(--seconbdary-color) solid }
main li a:hover{opacity: 50%}

@font-face {
  font-family: pop800;
  src: url(../assets/fonts/Poppins-ExtraBold.ttf) ;
}
@font-face {
  font-family: pop400;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: pop700;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: pop500;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: pop300;
  src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: pop200;
  src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: rubik700;
  src: url(../assets/fonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: rubik500;
  src: url(../assets/fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubik400;
  src: url(../assets/fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: pop100;
  src: url(../assets/fonts/Poppins-Thin.ttf);
}







.pop400{
  font-family: pop400;
}
.pop500
{
  font-family: pop500;
}
.pop800{
  font-family: pop800;
}
.pop700{
  font-family: pop700;
}
.pop200{
  font-family: pop200;
}

.primary-color{
  background-color: var(--primary-color)
}
.primary-color100{
  background-color:var(--primary-color100)
}
.secondary-color{
  background-color: var(--seconbdary-color)
}
.secondary-text{
  color: var(--seconbdary-color)
}
.black-color{
  background-color: var(--black-color)
}

.textdecorationoff{
  text-decoration: none;
}
.mt-10{
margin-top: 10%;
}
.mt-15{
  margin-top: 15%;
}
.mt-30{
  margin-top: 30%;
}


@media screen and (min-width: 1140px) {
  #image1{
  height: 761px;
  width: 606px;
    position: absolute;
}
#image2{
  height: 64px;
  width: 59px;
  margin-top: 118px;
  margin-left: 364px;
  position: absolute;

}
#image3{
  height: 99px;
  width: 101px;
  margin-top: 102px;
  position: absolute;
  margin-left: 5%;
}
#image4{
  position: absolute;
  margin-top: 309px;
  width: 96px;
  height:30px;
}
#ImgBig {
  position: relative;
  z-index: 1;
  width: 1164px;
  height: 462px;
  border-radius: 5px;
  padding-top: 46px;
  margin-left: 146px;
}

#dottedbgn{
  z-index: 0;
  width: 196px;
  height: 154px;
  position: absolute;
  margin-left: 972px;
}
.pl{
  padding-left: 20%;
}
.ml-15{
  margin-left: 10%;
}
}
@media  screen and (max-width: 1139px){
#ImgBig1{
  width: 576px;
  height: 462px;
  margin-left: 15%;
  margin-top: 5%;
}
  #img1{
width: 352px;
    height: 223px;
  }
  #img2{
    width: 280px;
    height: 223px;
  }
  #img3{
    width: 305px;
    height: 223px;
  }
  #img4{
    width: 335px;
    height: 223px;
  }
  #img5{
    width: 246px;
    height: 223px;
  }
  #img6{
    width: 401px;
    height: 223px;
  }
  .ml-15{
  margin-left: 15%;
}
  .menueline {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 7px ;
}

}
@media screen and (max-width: 767px){
#ImgBig1{
  width: 352px;
  height: 288px;
}
  #img3{
    width: 401px;
    height: 223px;
  }
  #img2{
    width: 401px;
    height: 223px;
  }
  #img1{
    width: 401px;
    height: 223px;
  }
  .footer-sm-textsize{
    font-size: 15px;
  }
  .footer-sm-iconsize{
    width: 50px;
    height: 50px;
  }
  .ml-15{
    margin-left: 6%;
  }
  .icon-sm-pleft{
    padding-left: 50px;
  }
  .menueline {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 7px ;
}

}


