
@font-face {
  font-family: pop800;
  src: url(../assets/fonts/Poppins-ExtraBold.ttf) ;
}
@font-face {
  font-family: pop400;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: pop700;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: pop500;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: pop300;
  src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: pop200;
  src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: rubik700;
  src: url(../assets/fonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: rubik500;
  src: url(../assets/fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubik400;
  src: url(../assets/fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: pop100;
  src: url(../assets/fonts/Poppins-Thin.ttf);
}
.pop400{
  font-family: pop400;
}
.pop800{
  font-family: pop800;
}
.pop700{
  font-family: pop700;
}

.bg-Purple{
    background-color: rgb(59, 42, 159)
}
.bg-Purple2{
  background-color: #5141AA;
}
.bg-orange{
 background-color: rgb(250,131,5);
}
.text-orange{
  color: rgb(250,131,5);
}

.textdecorationoff{
  text-decoration: none;
}

@media screen and (min-width: 1140px) {
  #image1{
  height: 761px;
  width: 606px;
    position: absolute;
}
#image2{
  height: 64px;
  width: 59px;
  margin-top: 118px;
  margin-left: 364px;
  position: absolute;

}
#image3{
  height: 99px;
  width: 101px;
  margin-top: 102px;
  position: absolute;
  margin-left: 5%;
}
#image4{
  position: absolute;
  margin-top: 309px;
  width: 96px;
  height:30px;
}
.pl{
  padding-left: 20%;
}
}


